:root {
    --body-background-color: #ddf;
    --clicked-cell-background-color: #aaf;
    --hit-cell-background: #f99;
}

* {
    user-select: none;
    box-sizing: border-box;
    font-family: Georgia, serif;
    color: #055;
}

body {
    background-color: var(--body-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.game-fields-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

table {
    border-collapse: collapse;
}

td {
    border: 1.4px solid black;
    width: 1.5rem;
    height: 1.5rem;
    border-collapse: collapse;
}

.opponent-part td:hover {
    background-color: aquamarine;
}

.opponent-part td:active {
    background-color: var(--body-background-color);
}

.opponent-part .clicked,
.user-part .clicked {
    background-color: var(--clicked-cell-background-color);
}

.opponent-part .hit {
    background-color: var(--hit-cell-background);
}

.user-part .ship {
    border: 3px solid blue;
}

.user-part .hit {
    background-color: var(--hit-cell-background);
    border: 3px solid red;
}

.opponent-part .sunk {
    border: 3px solid red;
}

.user-part,
.opponent-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.screen {
    width: 30vw;
    height: 2rem;
    padding: .3rem .2rem;
    background-color: beige;
    text-align: center;
    font-weight: 400;
    color: blue;
    visibility: hidden;
    overflow: hidden;
    scroll-behavior: auto;
}

.userboard-title {
    font-size: .9rem;
    overflow: hidden;
}

.opponent-part .caption {
    font-size: .9rem;
}

.randomise,
.play,
.restart {
    margin-top: .5rem;
    font-weight: bold;
    font-size: .6rem;
    color: blue;
    padding: .3rem .2rem;
    border-radius: .2rem;
}

.restart {
    visibility: hidden;
}