:root {
    --body-background-color: #ddf;
    --clicked-cell-background-color: #aaf;
    --hit-cell-background: #f99;
}

* {
    user-select: none;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    background-color: var(--body-background-color);
}

h1 {
    text-align: center;
}

.game-fields-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

table {
    border-collapse: collapse;
}

td {
    border: 1.4px solid black;
    width: 1.5rem;
    height: 1.5rem;
    border-collapse: collapse;
}

.opponent-part td:hover {
    background-color: aquamarine;
}

.opponent-part td:active {
    background-color: var(--body-background-color);
}

.opponent-part .clicked {
    background-color: var(--clicked-cell-background-color);
}

.openent-part .hit {
    background-color: var(--hit-cell-background);
}

.opponent-part .sunk {
    background-color: var(--hit-cell-background);
    border: 2px solid red;
}

.user-part,
.opponent-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.user-part .ship {
    border: 3px solid blue;
}