* {
    user-select: none;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    background-color: #ddf;
}

h1 {
    text-align: center;
}

.game-fields-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

td,
tr {
    border: 1px solid black;
    width: 1.5rem;
    height: 1.5rem;
    border-collapse: collapse;
}

td:first-child {
    border: none;
}

td:hover {
    background-color: aquamarine;
}

.user-part,
.openent-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}